<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <img src="https://static.vecteezy.com/system/resources/previews/018/930/473/original/instagram-logo-instagram-icon-transparent-free-png.png"
            alt="Insta Logo">
        <h1 id="insta_name">Instagram</h1>
    </header>

    <main>
        <div class="container">
            <% for(let i=0; i<results.length; i++) { %>
                <div class="post">
                    <p class="profile_pic"><img
                            src="https://i.pinimg.com/564x/8a/01/cc/8a01cc0579be056ecc8dfa2f07bd42aa.jpg" alt=""></p>
                    <div class="user_info">
                        <p class="username">
                            <%=results[i].username%>
                        </p>
                        <p class="name">
                            <%=results[i].name%>
                        </p>
                    </div>

                    <div class="image" style="background-image: url('<%=results[i].image%>');"></div>
                    <p class="comment">
                        <%=results[i].comment%>
                    </p>
                    <div id="buttons">
                        <a href="/posts/<%= results[i].id %>/edit" id="edit_button">Edit Post</a>
                        <form method="post" action="/posts/<%=results[i].id%>?_method=DELETE">
                            <button id="delete_btn">Delete Post</button>
                        </form>
                    </div>

                </div>
                <%}%>
                    <div class="post new_post">
                        <!-- <a href=""></a> -->
                        <a href="/posts/new" id="addPost">Write a new post</a>
                    </div>
        </div>
    </main>

</body>

</html>